@{ 
  Layout = null;
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
  <meta charset="utf-8"/>
</head>
<body>

  <div style="background: black; width: 100px; height: 100px; color: white;"> teste </div>
  
</body>
</html>

